html,
body,
#app {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #8b5e45;
  background: linear-gradient(to bottom, #7a4b32 0%, #a2765a 100%);
  font-family: Georgia, serif;
}